@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --read-more: #090fa8;
  --primary-color: #022962;
  --white-color: #fff;
  --light-gray: #d9d9d9;
  --green-color: #247E5B;
  --team-color: #247E5B1A;
}

@layer base {
  * {
    @apply font-normal;
  }
}

.container-wrap {
  max-width: 89%;
}

.scroll-team::-webkit-scrollbar{
  display: none;
}
